.checkers {
  --checker-color: #757575;

  background: linear-gradient(
    45deg,
    var(--checker-color) 25%,
    transparent 25%,
    transparent 75%,
    var(--checker-color) 75%,
    var(--checker-color)
  ),
  linear-gradient(
    -45deg,
    var(--checker-color) 25%,
    transparent 25%,
    transparent 75%,
    var(--checker-color) 75%,
    var(--checker-color)
  );
  background-size: 30px 30px;
  background-repeat: repeat;
  background-position-x: -15px, -15px;
  background-position-y: -15px, -15px;

}

[data-theme='dark'] .checkers {
  --checker-color: #919191;

}
